html {
    font-size: 12px;
    /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Playfair Display", serif;
    /* this should be the rest of the output you got from Google fonts */
    background-color: #ffffff;
    height: 100%
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #0044ff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    color: #000000;
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 0 20px 20px 20px;
}


a {
    color: rgb(134, 142, 252);
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #000000;
    }

    h1 {

        color: #4d7cff;
        text-shadow: 2px 2px 2px rgb(110, 110, 110);
    }

    body {
        color: #eee;
        background: #111111;
    }
}